@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-height .ql-editor {
    min-height: 150px;
    max-height: 400px; 
    overflow-y: auto;
}

.my-custom-quill .ql-toolbar,
.my-custom-quill .ql-container {
    border: none !important;
}

.my-custom-quill .ql-container {
    box-sizing: border-box;
}

.my-custom-quill .ql-editor {
    border: none !important;
}
